.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: calc(50px + 50vmin);
    position: relative;
    margin: 20px auto;
    height: calc(7px + 2vmin);
    border: calc(2px + .2vmin) solid black;
    border-radius: calc(3vmin);
}

.bar-outer {
    position: absolute;
    height: 100%;
    background-color: rgb(253, 255, 206);
}

.bar-inner {
    position: absolute;
    height: 100%;
    background-color: rgb(93, 255, 161);
}