/* .pickerBlock {
    position: absolute;
}

.barWrap {
    position: absolute;
}

.buttonsWrap {
    position: absolute;
} */

.positioning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 1200px;
}