.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  cursor: pointer;
  margin: 10px;
  border: 2px solid;
  border-color: rgb(149, 149, 149);
  width: calc(80px + 7vmin);
  height: calc(10px + 3vmin);
  border-radius: calc(3vmin);
  font-family: 'Segoe UI';
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(3px + 1vmin);
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  border-color: rgb(218, 255, 253);
  color: rgba(0, 0, 0, 1);
  background-color: rgb(218, 255, 253);
}

input {
  font-family: 'Segoe UI';
  font-weight: bold;
  width: calc(80px + 7vmin);
  height: calc(6px + 2vmin);
  font-size: calc(3px + 1vmin);
  color: rgba(0, 0, 0, 0.6);
  padding: calc(.5vmin);
  margin: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:hover {
  color: rgba(0, 0, 0, 1);
}

h1 {
  font-size: calc(28px + 4vmin);
}

p {
  display: block;
  margin: 25px 0px;
}

.dateController {
  border: 2px solid rgb(131, 131, 131);
  padding: calc(20px + 4vmin);
  background-color: rgb(57, 64, 78);
}

.pickerBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  width: 50%;
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
}

.pickerBlock p {
  height: calc(10px + 3vmin);
  margin: 10px;
  text-align: center;
}